---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<nav class="flex p-4 my-auto">
			<h1 class=" text-2xl">Scarlett's Portfolio</h1>
			<div class="flex ml-10">
				<h2 class="text-2xl">more </h2>
				<img class="pb-1" src="public/Arrowright.svg" width="40" height="40">
			</div>
		</nav>
		<div>
			<h1 class="text-6xl mt-24 ml-10">Welcome to my portfolio!</h1>
		</div>
		<div class="mx-56 my-44">
			<div class="border-2 rounded-2xl">
				
				<div class="m-4 flex text-xl"><p>Project 1 /</p><p class="italic"> 12 Aug 2023 - 12 Jun 2023 </p></div>
				<h2 class="text-4xl ml-4">Wessex Footwear</h2>
			</div>
		</div>
	</main>
</Layout>

<style>

</style>
